{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gestion des biens immobiliers</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'%}">
</head>
<body>
    <header>
        <div class="main">
            <dir class="logo">
                <img src="/static/IMG_20240507_155133.jpg" >
            </dir>
            <ul>
                 <li><a href="/">Home</a></li>                                              
                 <li><a href="">About</a></li>
                 <li><a href="/login">Creer un compte</a></li>
                 <li><a href="/demander">Demande de Location</a></li>
                 <li><a href="/disponible">Espaces disponibles</a></li>
                 <li><a href="/louer">Espaces loues</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>ESPACES</h1>
        </div>
        <div class="button">
               {% if user.is_anonymous %}
            <a href="login.html" class="btn">SE CONNECTER</a>
               {% else %}
               <li>
                   {{ user.username | upper }}
               </li>
               {% endif %}
        </div>

</body>
</html>