<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gestion des biens immobiliers</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        Bienvenue sur notre site 
    </h1>
    <header>
        <div class="main">
            <ul>
                 <li><a href="#">Home</a></li>                                              
                 <li><a href="#">Listing</a></li>
                 <li><a href="#">Tenant</a></li>
                 <li><a href="#">Contract</a></li>
                 <li><a href="#">Payment</a></li>
                 <li><a href="#">Invoice</a></li>
            </ul>
        </div>
    </header>
<h1>Liste des biens disponibles </h1>
<header>
     <div class="main">
         <ul>
             <li><a href="">Maison</a></li>
             <li><a href="">Appartement</a></li>
             <li><a href="">Parking</a></li>
             <li><a href="">Restaurant</a></li>
         </ul>
     </div>
</header>
</body>
</html>